<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pre_staging</key>
	<dict>
		<key>root</key>
		<string>/Volumes/WORKBENCH/assets/projects/</string>
	</dict>
	<key>staging</key>
	<dict>
		<key>root</key>
		<string>/Volumes/web/stotra-manjari-assets/projects/</string>
	</dict>
	<key>deployment</key>
	<dict>
		<key>backup</key>
		<true/>
		<key>volumes</key>
		<dict>
			<key>volume01</key>
			<dict>
				<key>audio</key>
				<dict>
					<key>deploy</key>
					<true/>
				</dict>
				<key>content</key>
				<dict>
					<key>langs</key>
					<dict>
						<key>sa_bt</key>
						<true/>
						<key>ta</key>
						<true/>
						<key>be</key>
						<true/>
						<key>gu</key>
						<true/>
						<key>te</key>
						<true/>
						<key>ka</key>
						<true/>
						<key>en</key>
						<true/>
						<key>ma</key>
						<true/>
					</dict>
					<key>deploy</key>
					<true/>
				</dict>
				<key>durations</key>
				<dict>
					<key>deploy</key>
					<true/>
				</dict>
				<key>meanings</key>
				<dict>
					<key>langs</key>
					<dict>
						<key>sa</key>
						<true/>
						<key>ta</key>
						<true/>
						<key>be</key>
						<true/>
						<key>gu</key>
						<true/>
						<key>te</key>
						<true/>
						<key>ka</key>
						<true/>
						<key>en</key>
						<true/>
						<key>ma</key>
						<true/>
					</dict>
					<key>deploy</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
