<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapters</key>
	<array>
		<dict>
			<key>id</key>
			<string>chapter001</string>
			<key>index</key>
			<integer>1</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama appreciates Hanuma and embraces him</string>
			<key>title</key>
			<string>Sarga 1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter002</string>
			<key>index</key>
			<integer>2</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sugreeva comforts Rama</string>
			<key>title</key>
			<string>Sarga 2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter003</string>
			<key>index</key>
			<integer>3</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama requests Hanuma to describe Lanka in detail</string>
			<key>title</key>
			<string>Sarga 3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter004</string>
			<key>index</key>
			<integer>4</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama fixes an auspicious hour for the departure</string>
			<key>title</key>
			<string>Sarga 4</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter005</string>
			<key>index</key>
			<integer>5</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sri Rama recollects the lotus-eyed Seetha</string>
			<key>title</key>
			<string>Sarga 5</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter006</string>
			<key>index</key>
			<integer>6</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana calls a meeting of his ministers</string>
			<key>title</key>
			<string>Sarga 6</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter007</string>
			<key>index</key>
			<integer>7</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>The demons inspire Ravana</string>
			<key>title</key>
			<string>Sarga 7</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter008</string>
			<key>index</key>
			<integer>8</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>All demons eulogising their strengths</string>
			<key>title</key>
			<string>Sarga 8</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter009</string>
			<key>index</key>
			<integer>9</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana speaks words of morality</string>
			<key>title</key>
			<string>Sarga 9</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter010</string>
			<key>index</key>
			<integer>10</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana advises Ravana to restore Seetha</string>
			<key>title</key>
			<string>Sarga 10</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter011</string>
			<key>index</key>
			<integer>11</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana goes again to the assembly hall</string>
			<key>title</key>
			<string>Sarga 11</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter012</string>
			<key>index</key>
			<integer>12</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana instructs Prahasta to defend Lanka</string>
			<key>title</key>
			<string>Sarga 12</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter013</string>
			<key>index</key>
			<integer>13</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Mahaparsva's advice to Ravana</string>
			<key>title</key>
			<string>Sarga 13</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter014</string>
			<key>index</key>
			<integer>14</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana informs about the power of Rama's arrow</string>
			<key>title</key>
			<string>Sarga 14</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter015</string>
			<key>index</key>
			<integer>15</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Indrajit criticizes Vibhishana</string>
			<key>title</key>
			<string>Sarga 15</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter016</string>
			<key>index</key>
			<integer>16</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana refuses to hear the words of Vibhishana</string>
			<key>title</key>
			<string>Sarga 16</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter017</string>
			<key>index</key>
			<integer>17</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana reaches Rama's place</string>
			<key>title</key>
			<string>Sarga 17</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter018</string>
			<key>index</key>
			<integer>18</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana joins Rama’s side</string>
			<key>title</key>
			<string>Sarga 18</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter019</string>
			<key>index</key>
			<integer>19</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana seeks refuge at Rama's feet</string>
			<key>title</key>
			<string>Sarga 19</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter020</string>
			<key>index</key>
			<integer>20</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana sends Shuka to Sugrīva as ambassador</string>
			<key>title</key>
			<string>Sarga 20</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter021</string>
			<key>index</key>
			<integer>21</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama becomes angry at the ocean</string>
			<key>title</key>
			<string>Sarga 21</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter022</string>
			<key>index</key>
			<integer>22</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sea-god advises Rama to build a bridge</string>
			<key>title</key>
			<string>Sarga 22</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter023</string>
			<key>index</key>
			<integer>23</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama explains the various portents to Lakshmana</string>
			<key>title</key>
			<string>Sarga 23</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter024</string>
			<key>index</key>
			<integer>24</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama orders the release of Shuka</string>
			<key>title</key>
			<string>Sarga 24</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter025</string>
			<key>index</key>
			<integer>25</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Shuka explains the enemy’s army strength to Ravana</string>
			<key>title</key>
			<string>Sarga 25</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter026</string>
			<key>index</key>
			<integer>26</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana enquires about the various monkey leaders</string>
			<key>title</key>
			<string>Sarga 26</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter027</string>
			<key>index</key>
			<integer>27</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sharana describes the strength of the commanders</string>
			<key>title</key>
			<string>Sarga 27</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter028</string>
			<key>index</key>
			<integer>28</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Shuka enumerates the enemies</string>
			<key>title</key>
			<string>Sarga 28</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter029</string>
			<key>index</key>
			<integer>29</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana reprimands Shuka and Sarana</string>
			<key>title</key>
			<string>Sarga 29</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter030</string>
			<key>index</key>
			<integer>30</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana dispatches Sardula the demon-spy</string>
			<key>title</key>
			<string>Sarga 30</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter031</string>
			<key>index</key>
			<integer>31</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama enters Lanka from Suvela Mountain</string>
			<key>title</key>
			<string>Sarga 31</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter032</string>
			<key>index</key>
			<integer>32</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Seetha sees illusory head and bow</string>
			<key>title</key>
			<string>Sarga 32</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter033</string>
			<key>index</key>
			<integer>33</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sarama restores confidence to Seetha</string>
			<key>title</key>
			<string>Sarga 33</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter034</string>
			<key>index</key>
			<integer>34</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sarama consoles Seetha</string>
			<key>title</key>
			<string>Sarga 34</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter035</string>
			<key>index</key>
			<integer>35</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Seetha asks Sarama about Ravana’s decision</string>
			<key>title</key>
			<string>Sarga 35</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter036</string>
			<key>index</key>
			<integer>36</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana abuses Malyavan</string>
			<key>title</key>
			<string>Sarga 36</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter037</string>
			<key>index</key>
			<integer>37</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana sends spies into Lanka</string>
			<key>title</key>
			<string>Sarga 37</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter038</string>
			<key>index</key>
			<integer>38</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama decides to stay on Suvela Mountain</string>
			<key>title</key>
			<string>Sarga 38</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter039</string>
			<key>index</key>
			<integer>39</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama and others see charming garden on Suvela</string>
			<key>title</key>
			<string>Sarga 39</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter040</string>
			<key>index</key>
			<integer>40</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sugreeva leaps at Ravana on sighting him</string>
			<key>title</key>
			<string>Sarga 40</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter041</string>
			<key>index</key>
			<integer>41</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama sends Angada to Ravana</string>
			<key>title</key>
			<string>Sarga 41</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter042</string>
			<key>index</key>
			<integer>42</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana commands his army to commence combat</string>
			<key>title</key>
			<string>Sarga 42</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter043</string>
			<key>index</key>
			<integer>43</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Duels begin between monkeys and demons</string>
			<key>title</key>
			<string>Sarga 43</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter044</string>
			<key>index</key>
			<integer>44</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Indrajit returns in invisible form</string>
			<key>title</key>
			<string>Sarga 44</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter045</string>
			<key>index</key>
			<integer>45</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Two scions of Raghu dynasty fall</string>
			<key>title</key>
			<string>Sarga 45</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter046</string>
			<key>index</key>
			<integer>46</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana applauds his son’s daring act</string>
			<key>title</key>
			<string>Sarga 46</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter047</string>
			<key>index</key>
			<integer>47</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Seetha's anguish about Rama and Lakshmana</string>
			<key>title</key>
			<string>Sarga 47</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter048</string>
			<key>index</key>
			<integer>48</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Trijata reassures Seetha</string>
			<key>title</key>
			<string>Sarga 48</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter049</string>
			<key>index</key>
			<integer>49</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana approaches Rama</string>
			<key>title</key>
			<string>Sarga 49</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter050</string>
			<key>index</key>
			<integer>50</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Garuda, the king of birds, appears</string>
			<key>title</key>
			<string>Sarga 50</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter051</string>
			<key>index</key>
			<integer>51</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Dhumraksha enters the battlefield</string>
			<key>title</key>
			<string>Sarga 51</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter052</string>
			<key>index</key>
			<integer>52</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Dhumraksha and his army attack monkeys</string>
			<key>title</key>
			<string>Sarga 52</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter053</string>
			<key>index</key>
			<integer>53</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana sends Vajradamstra</string>
			<key>title</key>
			<string>Sarga 53</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter054</string>
			<key>index</key>
			<integer>54</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vajradamstra terrifies the monkeys</string>
			<key>title</key>
			<string>Sarga 54</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter055</string>
			<key>index</key>
			<integer>55</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana sends Akampana</string>
			<key>title</key>
			<string>Sarga 55</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter056</string>
			<key>index</key>
			<integer>56</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Akampana enters the battlefield</string>
			<key>title</key>
			<string>Sarga 56</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter057</string>
			<key>index</key>
			<integer>57</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana asks Prahasta to go to battle</string>
			<key>title</key>
			<string>Sarga 57</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter058</string>
			<key>index</key>
			<integer>58</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana explains Prahasta’s prowess</string>
			<key>title</key>
			<string>Sarga 58</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter059</string>
			<key>index</key>
			<integer>59</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana himself appears on the battlefield</string>
			<key>title</key>
			<string>Sarga 59</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter060</string>
			<key>index</key>
			<integer>60</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana sends demons to wake Kumbhakarna</string>
			<key>title</key>
			<string>Sarga 60</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter061</string>
			<key>index</key>
			<integer>61</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama enquires about Kumbhakarna</string>
			<key>title</key>
			<string>Sarga 61</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter062</string>
			<key>index</key>
			<integer>62</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Kumbhakarna enters Ravana’s abode</string>
			<key>title</key>
			<string>Sarga 62</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter063</string>
			<key>index</key>
			<integer>63</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Kumbhakarna reassures Ravana</string>
			<key>title</key>
			<string>Sarga 63</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter064</string>
			<key>index</key>
			<integer>64</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Counsel given to Kumbhakarna</string>
			<key>title</key>
			<string>Sarga 64</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter065</string>
			<key>index</key>
			<integer>65</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Kumbhakarna rebukes Mahodara</string>
			<key>title</key>
			<string>Sarga 65</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter066</string>
			<key>index</key>
			<integer>66</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Angada reassures the monkeys to return to battle</string>
			<key>title</key>
			<string>Sarga 66</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter067</string>
			<key>index</key>
			<integer>67</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Kumbhakarna slain in battle</string>
			<key>title</key>
			<string>Sarga 67</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter068</string>
			<key>index</key>
			<integer>68</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana's grief over his brother’s death</string>
			<key>title</key>
			<string>Sarga 68</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter069</string>
			<key>index</key>
			<integer>69</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Death of Narantaka</string>
			<key>title</key>
			<string>Sarga 69</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter070</string>
			<key>index</key>
			<integer>70</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Hanuma kills Trishira</string>
			<key>title</key>
			<string>Sarga 70</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter071</string>
			<key>index</key>
			<integer>71</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Lakshmana kills Atikaya</string>
			<key>title</key>
			<string>Sarga 71</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter072</string>
			<key>index</key>
			<integer>72</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana's grief over Atikaya's death</string>
			<key>title</key>
			<string>Sarga 72</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter073</string>
			<key>index</key>
			<integer>73</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama and Lakshmana fall unconscious</string>
			<key>title</key>
			<string>Sarga 73</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter074</string>
			<key>index</key>
			<integer>74</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Hanuma’s journey to Himalayas</string>
			<key>title</key>
			<string>Sarga 74</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter075</string>
			<key>index</key>
			<integer>75</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>The battle resumes</string>
			<key>title</key>
			<string>Sarga 75</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter076</string>
			<key>index</key>
			<integer>76</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sugreeva kills Kumbha</string>
			<key>title</key>
			<string>Sarga 76</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter077</string>
			<key>index</key>
			<integer>77</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Kumbha's brother, Nikumbha, faces the battle</string>
			<key>title</key>
			<string>Sarga 77</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter078</string>
			<key>index</key>
			<integer>78</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana orders Makaraksha</string>
			<key>title</key>
			<string>Sarga 78</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter079</string>
			<key>index</key>
			<integer>79</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Makaraksha challenges Rama</string>
			<key>title</key>
			<string>Sarga 79</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter080</string>
			<key>index</key>
			<integer>80</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana instructs Indrajit to enter battlefield</string>
			<key>title</key>
			<string>Sarga 80</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter081</string>
			<key>index</key>
			<integer>81</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Indrajit places illusory image of Seetha</string>
			<key>title</key>
			<string>Sarga 81</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter082</string>
			<key>index</key>
			<integer>82</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Hanuma leads the monkey army</string>
			<key>title</key>
			<string>Sarga 82</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter083</string>
			<key>index</key>
			<integer>83</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Seetha has been killed by Indrajit (illusory)</string>
			<key>title</key>
			<string>Sarga 83</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter084</string>
			<key>index</key>
			<integer>84</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana reveals the conjuring trick</string>
			<key>title</key>
			<string>Sarga 84</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter085</string>
			<key>index</key>
			<integer>85</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama sends Lakshmana to kill Indrajit</string>
			<key>title</key>
			<string>Sarga 85</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter086</string>
			<key>index</key>
			<integer>86</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Indrajit returns to battlefield</string>
			<key>title</key>
			<string>Sarga 86</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter087</string>
			<key>index</key>
			<integer>87</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Indrajit’s harsh words to Vibhishana</string>
			<key>title</key>
			<string>Sarga 87</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter088</string>
			<key>index</key>
			<integer>88</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Fierce battle between Lakshmana and Indrajit</string>
			<key>title</key>
			<string>Sarga 88</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter089</string>
			<key>index</key>
			<integer>89</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana destroys many demons</string>
			<key>title</key>
			<string>Sarga 89</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter090</string>
			<key>index</key>
			<integer>90</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Indrajit’s horse is killed</string>
			<key>title</key>
			<string>Sarga 90</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter091</string>
			<key>index</key>
			<integer>91</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Lakshmana and others treated by Sushena</string>
			<key>title</key>
			<string>Sarga 91</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter092</string>
			<key>index</key>
			<integer>92</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana distressed over his son’s death</string>
			<key>title</key>
			<string>Sarga 92</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter093</string>
			<key>index</key>
			<integer>93</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama destroys demon troops</string>
			<key>title</key>
			<string>Sarga 93</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter094</string>
			<key>index</key>
			<integer>94</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Female-demons lament war losses</string>
			<key>title</key>
			<string>Sarga 94</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter095</string>
			<key>index</key>
			<integer>95</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana fights fiercely with monkeys</string>
			<key>title</key>
			<string>Sarga 95</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter096</string>
			<key>index</key>
			<integer>96</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sugreeva kills Virupaksha</string>
			<key>title</key>
			<string>Sarga 96</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter097</string>
			<key>index</key>
			<integer>97</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sugreeva kills Mahodara</string>
			<key>title</key>
			<string>Sarga 97</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter098</string>
			<key>index</key>
			<integer>98</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Angada kills Mahaparsva</string>
			<key>title</key>
			<string>Sarga 98</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter099</string>
			<key>index</key>
			<integer>99</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Battle between Rama and Ravana</string>
			<key>title</key>
			<string>Sarga 99</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter100</string>
			<key>index</key>
			<integer>100</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana flees battlefield</string>
			<key>title</key>
			<string>Sarga 100</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter101</string>
			<key>index</key>
			<integer>101</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Hanuma brings life-giving herbs mountain</string>
			<key>title</key>
			<string>Sarga 101</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter102</string>
			<key>index</key>
			<integer>102</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana severely hurt</string>
			<key>title</key>
			<string>Sarga 102</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter103</string>
			<key>index</key>
			<integer>103</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana’s charioteer carries him away</string>
			<key>title</key>
			<string>Sarga 103</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter104</string>
			<key>index</key>
			<integer>104</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana re-approaches battlefield</string>
			<key>title</key>
			<string>Sarga 104</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter105</string>
			<key>index</key>
			<integer>105</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sage Agastya’s advice</string>
			<key>title</key>
			<string>Sarga 105</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter106</string>
			<key>index</key>
			<integer>106</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama speaks to Matali</string>
			<key>title</key>
			<string>Sarga 106</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter107</string>
			<key>index</key>
			<integer>107</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama and Ravana’s fierce battle</string>
			<key>title</key>
			<string>Sarga 107</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter108</string>
			<key>index</key>
			<integer>108</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama kills Ravana</string>
			<key>title</key>
			<string>Sarga 108</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter109</string>
			<key>index</key>
			<integer>109</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama directs Vibhishana to conduct obsequies for Ravana</string>
			<key>title</key>
			<string>Sarga 109</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter110</string>
			<key>index</key>
			<integer>110</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Ravana’s consorts lament</string>
			<key>title</key>
			<string>Sarga 110</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter111</string>
			<key>index</key>
			<integer>111</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Mandodari laments Ravana's death</string>
			<key>title</key>
			<string>Sarga 111</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter112</string>
			<key>index</key>
			<integer>112</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana's installation as king</string>
			<key>title</key>
			<string>Sarga 112</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter113</string>
			<key>index</key>
			<integer>113</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Hanuma informs Seetha about Rama's victory</string>
			<key>title</key>
			<string>Sarga 113</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter114</string>
			<key>index</key>
			<integer>114</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Vibhishana brings Seetha to Rama</string>
			<key>title</key>
			<string>Sarga 114</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter115</string>
			<key>index</key>
			<integer>115</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama disowns her and asks her to seek shelter</string>
			<key>title</key>
			<string>Sarga 115</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter116</string>
			<key>index</key>
			<integer>116</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Seetha's taunting reply to Rama</string>
			<key>title</key>
			<string>Sarga 116</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter117</string>
			<key>index</key>
			<integer>117</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Gods reach Lanka and approach Rama</string>
			<key>title</key>
			<string>Sarga 117</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter118</string>
			<key>index</key>
			<integer>118</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>The fire-god appears from the burning pyre</string>
			<key>title</key>
			<string>Sarga 118</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter119</string>
			<key>index</key>
			<integer>119</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Lord Shiva informs Rama about his father</string>
			<key>title</key>
			<string>Sarga 119</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter120</string>
			<key>index</key>
			<integer>120</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Indra’s boon to Rama</string>
			<key>title</key>
			<string>Sarga 120</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter121</string>
			<key>index</key>
			<integer>121</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama prepares to leave for Ayodhya</string>
			<key>title</key>
			<string>Sarga 121</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter122</string>
			<key>index</key>
			<integer>122</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama</string>
			<key>title</key>
			<string>Sarga 122</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter123</string>
			<key>index</key>
			<integer>123</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama shows Seetha the places</string>
			<key>title</key>
			<string>Sarga 123</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter124</string>
			<key>index</key>
			<integer>124</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Rama lands at Sage Bharadwaja’s hermitage</string>
			<key>title</key>
			<string>Sarga 124</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter125</string>
			<key>index</key>
			<integer>125</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Hanuma informs Bharata about Rama’s return</string>
			<key>title</key>
			<string>Sarga 125</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter126</string>
			<key>index</key>
			<integer>126</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Hanuma recounts to Bharata about Rama in forest</string>
			<key>title</key>
			<string>Sarga 126</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter127</string>
			<key>index</key>
			<integer>127</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Bharata commands reception of Rama in Ayodhya</string>
			<key>title</key>
			<string>Sarga 127</string>
		</dict>
		<dict>
			<key>id</key>
			<string>chapter128</string>
			<key>index</key>
			<integer>128</integer>
			<key>state</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string>Sri Rama’s Pattabhishekam (coronation)</string>
			<key>title</key>
			<string>Sarga 128</string>
		</dict>
	</array>
	<key>id</key>
	<string>volume06</string>
	<key>images</key>
	<dict>
		<key>thumbnail</key>
		<string>thumbnail.png</string>
	</dict>
	<key>name</key>
	<string>Yuddha Kandam</string>
	<key>state</key>
	<integer>2</integer>
	<key>subtitle</key>
	<string>128 Sargas</string>
</dict>
</plist>
