<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>format</key>
	<string>standalone</string>
	<key>staging_root</key>
	<string>/Volumes/WORKBENCH/assets/projects/svj_lalitha_sahasranamam</string>
	<key>audio_extraction</key>
	<dict>
		<key>audio_format</key>
		<string>aac</string>
		<key>volumes</key>
		<dict>
			<key>volume01</key>
			<dict>
				<key>input_dir</key>
				<string>/Volumes/AMRUTHAM/Sivananda Vijayalakshmi/Devi Stotrams/Video/Bounces/forSM/1080P/01_Lalitha Sahasranamam.mp4</string>
				<key>orchestrate</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>text_extraction</key>
	<dict>
		<key>has_metadata</key>
		<false/>
		<key>volumes</key>
		<dict>
			<key>volume01</key>
			<dict>
				<key>shape_ids</key>
				<dict>
					<key>sa</key>
					<dict>
						<key>shape_id</key>
						<integer>2</integer>
						<key>meta_dir</key>
						<string></string>
					</dict>
					<key>ta</key>
					<dict>
						<key>shape_id</key>
						<integer>3</integer>
						<key>meta_dir</key>
						<string></string>
					</dict>
				</dict>
				<key>ppts_dir</key>
				<string>/Volumes/AMRUTHAM/Sivananda Vijayalakshmi/Devi Stotrams/Video/Mastering/Source Files/PPT/Without Dupes/Lalitha Sahasranamam.pptm</string>
				<key>orchestrate</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>translation</key>
	<dict>
		<key>langs</key>
		<array>
			<string>sa_bt</string>
			<string>en</string>
		</array>
		<key>volumes</key>
		<dict>
			<key>volume01</key>
			<dict>
				<key>input_lang</key>
				<string>sa</string>
				<key>orchestrate</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>content_tweaks</key>
	<dict>
		<key>add_header</key>
		<false/>
		<key>collapse_couplets</key>
		<true/>
		<key>langs</key>
		<array>
			<string>sa_bt</string>
			<string>ta</string>
			<string>be</string>
			<string>gu</string>
			<string>te</string>
			<string>ka</string>
			<string>en</string>
			<string>ma</string>
		</array>
		<key>orchestrate</key>
		<true/>
	</dict>
	<key>durations</key>
	<dict>
		<key>volumes</key>
		<dict>
			<key>volume01</key>
			<dict>
				<key>input_dir</key>
				<string>/Volumes/AMRUTHAM/Sivananda Vijayalakshmi/Devi Stotrams/Video/Mastering/Final Cut Pro/FCPXML/Localized/01_Lalitha Sahasranamam.fcpxmld</string>
				<key>orchestrate</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
